@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #263238;
  --dark_grey: #4d4d4d;
  --grey: #717171;
  --light_grey: #89939e;
  --grey_blue: #abbed1;
  --silver: #f5f7fa;
  --white: #ffffff;
  --primary: #4caf4f;
  --secondary: #263238;
  --info: #2194f3;
  --shade_1: #43a046;
  --shade_2: #388e3b;
  --shade_3: #237d31;
  --shade_4: #1b5e1f;
  --shade_5: #103e13;
  --tint_1: #66bb69;
  --tint_2: #81c784;
  --tint_3: #a5d6a7;
  --tint_4: #c8e6c9;
  --tint_5: #e8f5e9;
  --warning: #fbc02d;
  --error: #e53835;
  --success: #2e7d31;
}

@layer base {
  /* headings */
  h1 {
    @apply text-64 leading-76 font-semibold;
  }
  h2 {
    @apply font-semibold text-36 leading-44;
  }
  h3 {
    @apply font-semibold text-28 leading-9;
  }
  h4 {
    @apply font-semibold text-xl leading-7;
  }

  /* regular */
  .regular_1 {
    @apply font-normal text-lg leading-7;
  }
  .regular_2 {
    @apply font-normal text-base leading-6;
  }
  .regular_3 {
    @apply font-normal text-sm leading-5;
  }
  .regular_4 {
    @apply font-normal text-xs leading-4;
  }

  /* medium */
  .medium_1 {
    @apply font-medium text-lg leading-7;
  }
  .medium_2 {
    @apply font-medium text-base leading-6;
  }
  .medium_3 {
    @apply font-medium text-sm leading-5;
  }
  .medium_4 {
    @apply font-medium text-xs leading-4;
  }
}

@layer components {
  /* primary */
  .primary_button_normal {
    @apply bg-primary text-white rounded-md text-lg py-4 px-8 hover:opacity-95 focus:border-grey active:bg-shade_2 disabled:bg-silver disabled:text-grey_blue;
  }
}
